<section class="relative flex bg-[#C98A40] h-screen lg:overflow-hidden justify-between">
  <div class=" container flex items-center flex-col">
    <h3 class="mt-3 font-sen font-semibold text-28 leading-33.69 text-white uppercase mx-auto">Peachy Pup<br> Bakery
    </h3>

    <div class="w-96">
      <h1 class="font-sen text-6xl font-extrabold leading-89 tracking-tight text-left uppercase text-white mt-24">Tasty
        pastries
      </h1>
      <p class="text-white font-poppins text-base font-semibold leading-26 tracking-tight text-left my-8">Lorem Ipsum
        is
        simply dummy text of the printing and <br> typesetting industry.
        Lorem Ipsum
        has been the
        industry's <br>
        standard dummy text ever since the</p>
      <button
        class="px-8 py-3 bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 text-center rounded-full mb-5">SEE
        MORE</button>
    </div>



    <div class="flex md:absolute md:bottom-0 md:left-0 md:self-end  flex-col md:flex-row w-full md:w-auto">
      <img class=" bg-white" src="./assets/images/Mask Group (1).png" alt="">
      <div class=" flex flex-col absolute bottom-14 lg:left-96 left-3">
        <i class="text-[#C98A40] font-semibold text-2xl fa-brands fa-facebook cursor-pointer"></i>
        <i class="text-[#C98A40] font-semibold text-2xl fa-brands fa-twitter cursor-pointer"></i>
        <i class="text-[#C98A40] font-semibold text-2xl fa-brands fa-instagram cursor-pointer"></i>
        <i class="text-[#C98A40] font-semibold text-2xl fa-brands fa-linkedin cursor-pointer"></i>
      </div>
      <p class="text-center text-white self-end p-5 bg-[#C98A40] lg:bg-none w-full">Telephone : +7 700 000 00 00</p>
    </div>
  </div>

  <div class="relative hidden lg:block">
    <img class="bg-white h-screen" src="./assets/images/Mask Group.png" alt="">
    <img class="absolute bottom-56 -left-48 xl:scale-150"
      src="./assets/images/Place Your Image Here (Double Click to Edit)_ 1.png" alt="">
  </div>

</section>


<section class="  bg-[#C98A40] flex relative justify-center">
  <div class="hidden md:flex bg-white bg-cover bg-center relative h-screen w-5/12  justify-end"
    style="background-image: url('./assets/images/Mask Group (2).png');">
    <div class="md:p-8">
      <p
        class="font-poppins text-base font-semibold leading-26 tracking-tight text-left  text-[#C98A40] pt-5 pr-5 lg:pt-24">
        Lorem Ipsum is simply <br> dummy text of the printing<br> and typesetting industry.<br>
        Lorem Ipsum has been the <br>industry's standard dummy<br> text ever since the
      </p>
    </div>
  </div>


  <div class="hidden md:flex absolute bottom-0 lg:bottom-10  justify-center flex-col fet">
    <div class=" flex flex-col lg:flex-row gap-3 lg:gap-5 xl:gap-12 z-50 mx-auto ">
      <div class="flex gap-5 lg:gap-5 xl:gap-12">
        <img src="../../../assets/images/food1.png" alt="" class="w-56 md:w-48 lg:w-56">
        <img src="../../../assets/images/food2.png" alt="" class="w-56 md:w-48 lg:w-56">
      </div>
      <div class="flex gap-5 lg:gap-5 xl:gap-12">
        <img src="../../../assets/images/food3.png" alt="" class="w-56 md:w-48 lg:w-56">
        <img src="../../../assets/images/food4.png" alt="" class="w-56 md:w-48 lg:w-56">
      </div>
    </div>
    <button
      class=" px-8 py-3 bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 text-center rounded-full mb-5  fitContent mx-auto mt-5">Contact
      us</button>
  </div>


  <div class="hidden w-7/12 md:flex justify-center">
    <h1
      class="text-right font-poppins lg:text-9xl sm:text-7xl text-2xl font-bold leading-26 tracking-tight lg:pt-12 pt-2 text-white uppercase">
      How we
      <br>work
    </h1>
  </div>


  <!--* Responsev part -->

  <div class="md:hidden w-full flex justify-center items-center flex-col">
    <h1
      class="text-right font-poppins lg:text-9xl sm:text-6xl text-3xl font-bold leading-26 tracking-tight lg:pt-12 pt-2 text-white uppercase">
      How we work
    </h1>


    <p class="font-poppins text-base font-semibold leading-26 tracking-tight text-left  text-[#fff] mt-6">
      Lorem Ipsum is simply dummy text of the printing<br> and typesetting industry.
      Lorem Ipsum has been the <br>industry's standard dummy text ever since the
    </p>

    <div class=" flex flex-col gap-4 mt-6">
      <img src="../../../assets/images/food1.png" alt="" class="w-full ">
      <img src="../../../assets/images/food2.png" alt="" class="w-full ">
      <img src="../../../assets/images/food3.png" alt="" class="w-full ">
      <img src="../../../assets/images/food4.png" alt="" class="w-full ">
    </div>

    <button
      class=" px-8 py-3 bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 text-center rounded-full mb-5  fitContent mx-auto mt-2">Contact
      us</button>

  </div>


</section>




<section class=" flex flex-col md:flex-row">
  <div class="w-full md:w-3/5 bg-white md:bg-[#C98A40] flex justify-start flex-col items-center">
    <div>
      <h1
        class="text-left font-poppins sm:text-6xl text-6xl lg:text-7xl font-bold leading-26 tracking-tight lg:pt-12 pt-6 text-[#C98A40] md:text-white uppercase ">
        About<br>us</h1>
      <p
        class="md:text-white text-[#C98A40] font-poppins text-base font-semibold leading-26 tracking-tight text-left py-14">
        Lorem Ipsum
        is simply
        dummy text
        of the printing <br>and typesetting industry. Lorem Ipsum has been the industry's<br>
        standard dummy text ever since the 1500s, when an <br>unknown printer took a galley of type and scrambled it
        to<br>
        make a
        type specimen book. It has survived <br>not only five centuries, but also the leap into electronic
        typesetting,<br>
        remaining essentially unchanged. It was popularised <br>in the 1960s with the release of Letraset sheets<br>
        containing
        Lorem Ipsum passages, and more recently with <br>desktop publishing software like Aldus PageMaker <br>including
        versions
        of Lorem Ipsum.
      </p>
      <button
        class=" px-8 py-3  bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 rounded-full mb-12  fitContent  ">Contact
        us</button>
    </div>

  </div>

  <div class="w-full md:w-2/5 bg-[#C98A40] md:bg-white lg:relative flex items-center justify-center mx-auto">
    <img class="lg:absolute lg:-left-20 lg:bottom-16 md:w-10/12 sm:w-[60%] mx-auto"
      src="../../../assets/images/acook.png" alt="">
  </div>

</section>




<section class=" flex flex-col">
  <h1
    class="text-center font-poppins text-6xl lg:text-8xl sm:text-6xl font-bold leading-26 tracking-tight lg:pt-12 pt-6 text-[#C98A40] uppercase pb-1">
    Recipes</h1>


  <div class=" flex  justify-center flex-col md:flex-row items-center my-10 md:gap-5 gap-3 xl:gap-10 px-6 sm:px-0">

    <div *ngFor="let meal of meals | slice:0:3" class="">
      <div class="w-full xl:w-96 lg:w-80 sm:px-10 md:px-1 px-5 border border-[#FFD8AB] rounded-3xl">
        <div class=" w-full">
          <img [src]="meal.strMealThumb" alt="" class="w-full rounded-3xl">
        </div>
        <div class="p-5">
          <h2 class="font-poppins text-16 font-extrabold leading-24 tracking-normal text-left text-[#C98A40]">
            {{meal.strMeal}}</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur iusto distinctio quaerat odio saepe
            enim,
            alias quae totam ipsa blanditiis dolorem maiores perferendis eaque repudiandae consequatur esse sit ex
            impedit.
          </p>
        </div>
      </div>
    </div>

  </div>
  <div class=" flex items-center justify-center">
    <button
      class=" px-8 py-3  bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 rounded-full mb-12  fitContent  ">Contact
      us</button>
  </div>

</section>



<section class="bg-[#C98A40] pt-11 " style="background-image: url('../../../assets/images/bg.png');">
  <h1
    class="font-sen lg:text-9xl sm:text-7xl text-2xl font-extrabold leading-tight tracking-normal text-center uppercase text-white ">
    testymonials</h1>

  <div class="flex lg:gap-8 gap-4 flex-col items-center py-12 px-4 justify-center mx-auto">

    <div class="flex lg:gap-8 gap-4 md:flex-row flex-col lg:justify-center">
      <div class="py-5 px-10 bg-white rounded-3xl lg:w-2/6">
        <h1 class="font-poppins text-16 font-extrabold leading-24 tracking-normal text-left text-[#C98A40]"> Kathryn
          Murphy</h1>
        <p class="font-poppins text-base font-normal leading-5 tracking-normal text-left lg:">
          Lorem Ipsum is simply dummy
          text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled
        </p>
        <div class="text-[#C98A40]">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
      <div class="py-5 px-10 bg-white rounded-3xl lg:w-2/6">
        <h1 class="font-poppins text-16 font-extrabold leading-24 tracking-normal text-left text-[#C98A40]"> Kathryn
          Murphy</h1>
        <p class="font-poppins text-base font-normal leading-5 tracking-normal text-left lg:">
          Lorem Ipsum is simply dummy
          text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled
        </p>
        <div class="text-[#C98A40]">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
    <div class="flex lg:gap-8 gap-4 md:flex-row flex-col lg:justify-center">
      <div class="py-5 px-10 bg-white rounded-3xl lg:w-2/6">
        <h1 class="font-poppins text-16 font-extrabold leading-24 tracking-normal text-left text-[#C98A40]"> Kathryn
          Murphy</h1>
        <p class="font-poppins text-base font-normal leading-5 tracking-normal text-left lg:">
          Lorem Ipsum is simply dummy
          text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled
        </p>
        <div class="text-[#C98A40]">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
      <div class="py-5 px-10 bg-white rounded-3xl lg:w-2/6">
        <h1 class="font-poppins text-16 font-extrabold leading-24 tracking-normal text-left text-[#C98A40]"> Kathryn
          Murphy</h1>
        <p class="font-poppins text-base font-normal leading-5 tracking-normal text-left lg:">
          Lorem Ipsum is simply dummy
          text of the printing and
          typesetting industry. Lorem Ipsum has been the industry's
          standard dummy text ever since the 1500s, when an
          unknown printer took a galley of type and scrambled
        </p>
        <div class="text-[#C98A40]">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
        </div>
      </div>
    </div>
  </div>
  <div class=" flex items-center justify-center">
    <button
      class=" px-8 py-3  bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 rounded-full mb-12  fitContent  ">Contact
      us</button>
  </div>
</section>

<section>
  <h1
    class="font-sen lg:text-9xl sm:text-7xl text-2xl font-extrabold leading-tight tracking-normal text-center uppercase text-[#C98A40] my-12">
    Contact us
  </h1>
  <div class="flex justify-center items-center">
    <div class=" flex items-center md:gap-16 gap-1 justify-center flex-col md:flex-row md:px-6 mb-12">
      <form class="md:w-4/6 w-full" [formGroup]="contactForm" (ngSubmit)="handleForm()">

        <div class="form-item">
          <input type="text" placeholder="Full Name.." formControlName="name"
            class="p-3 border w-full bg-[#FFD39F] rounded-xl focus:outline-none focus:border-[#e8aa64] focus:ring-2 focus:ring-[#f9ac54] mt-3">
          <div *ngIf="contactForm.get('name')?.errors && contactForm.get('name')?.touched"
            class="bg-rose-100 border-t border-b border-rose-400 text-rose-800 px-4 py-3 font-medium" role="alert">

            <p class=" p-0" *ngIf="contactForm.get('name')?.getError('required')">Name is required</p>
            <p class=" p-0" *ngIf="contactForm.get('name')?.getError('minlength')">Name Min length 3</p>
            <p class=" p-0" *ngIf="contactForm.get('name')?.getError('maxlength')">Name Max length 20</p>
          </div>
        </div>

        <div class="form-item">
          <input type="text" placeholder="Email.." formControlName="email"
            class="p-3 border w-full bg-[#FFD39F] rounded-xl focus:outline-none focus:border-[#e8aa64] focus:ring-2 focus:ring-[#f9ac54] mt-3">
          <div *ngIf="contactForm.get('email')?.errors && contactForm.get('email')?.touched"
            class="bg-rose-100 border-t border-b border-rose-400 text-rose-800 px-4 py-3 font-medium" role="alert">
            <p *ngIf="contactForm.get('email')?.getError('required')">Email is Required</p>
            <p *ngIf="contactForm.get('email')?.getError('email')">Email is Validator</p>
          </div>
        </div>

        <div class="form-item">
          <input type="text" placeholder="Phone Number.." formControlName="phone"
            class="p-3 border w-full bg-[#FFD39F] rounded-xl focus:outline-none focus:border-[#e8aa64] focus:ring-2 focus:ring-[#f9ac54] mt-3">
          <div *ngIf="contactForm.get('phone')?.errors && contactForm.get('phone')?.touched"
            class="bg-rose-100 border-t border-b border-rose-400 text-rose-800 px-4 py-3 font-medium" role="alert">
            <p *ngIf="contactForm.get('phone')?.getError('required')">Phone is Required</p>
            <p *ngIf="contactForm.get('phone')?.getError('pattern')">accept only egypt phone number</p>
          </div>
        </div>
        <div class=" flex items-center justify-center">
          <button
            class=" px-8 py-3  bg-[#FDBA10] text-white font-poppins text-base font-extrabold leading-24 rounded-full mb-12  fitContent mt-5">Contact
            us</button>
        </div>
      </form>
      <div class="md:w-2/6 w-full ">
        <p class=" flex items-center justify-center"><i class="fa-solid fa-envelope text-[#C98A40]"></i><span
            class="px-3">upskilling.eg1&#64;gmail.com</span></p>
        <p class=" flex items-center justify-center"><i class="fa-solid fa-phone text-[#C98A40]"></i><span
            class="px-3">+20 115 493 2137</span></p>
      </div>
    </div>

  </div>


</section>

<footer class="p-8 bg-[#584125] text-white font-semibold text-xl text-center">
  upskilling.eg1&#64;gmail.com
</footer>
